<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos_productos_flexsole.css">
    <link rel="stylesheet" href="/css/bootstrap.css.css">
    <title>Formulario crear producto</title>
</head>
<body>
    <form th:action="@{/producto/crear}" method="POST">
        <p>
            <input type="text" name="titulo" value="Titulo...">
            <br>
            <input type="text" name="descripcion" value="Descripcion...">
            <br>
            <input type="text" name="precio" value="Precio...">
            <br>
            <input type="text" name="descuento" value="% Descuento...">
        </p>
        <p><input type="submit" value="Enviar"></p>
    </form>
</body>
</html>