<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike Dunk Low Retro Premium</title>
    <link rel="stylesheet" href="/css/estilos_productos_flexsole.css">
</head>
<body>
    <header>
        <H1>FLEX SOLE'S</H1>
    </header>
    <section>
            <article id="{id}" th:each="producto: ${ListaProductos[id-1]}">
            <a th:href="@{/producto/producto{id}(id=${producto.id})}"><img th:src="@{/img/nike_dunk_first_article.jpg}" alt="imagen1"></a>
            <h3 th:text="${producto.titulo}"></h3>
            <h2 th:text="${producto.id}"></h2>
            <h2 th:text="${producto.descripcion}"></h2>
            <h2 th:text="${producto.precio}+'€'"></h2>
            <h2 th:text="${producto.descuento}+'%'"></h2>
        </article>
    </section>
</body>
</html>