<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../doc_html_flexsoles/css/estilos_flexsole.css">
    <title>FLEX SOLE'S</title>
</head>
<body>
    <header>
        <H1>FLEX SOLE'S</H1>
    </header>
    <section>
        <article id="p1">
            <img src="../doc_html_flexsoles/img/nike_dunk_first_article.jpg" alt="imagen1">
            <h3>Nike Dunk Low Retro Premium</h3>
            <h2>119,99€</h2>
            <h2>10% descuento</h2>
        </article>
        <article id="p2">
            <img src="../doc_html_flexsoles/img/nike_dunk_first_article.jpg" alt="imagen1">
            <h3>Nike Dunk Low Retro Premium</h3>
            <h2>119,99€</h2>
            <h2>10% descuento</h2>
        </article>
        <article id="p3">
            <img src="../doc_html_flexsoles/img/nike_dunk_first_article.jpg" alt="imagen1">
            <h3>Nike Dunk Low Retro Premium</h3>
            <h2>119,99€</h2>
            <h2>10% descuento</h2>
        </article>
        <article id="p4">
            <img src="../doc_html_flexsoles/img/nike_dunk_first_article.jpg" alt="imagen1">
            <h3>Nike Dunk Low Retro Premium</h3>
            <h2>119,99€</h2>
            <h2>10% descuento</h2>
        </article>
    </section>
    <section>
        <article id="p5">
            <img src="../doc_html_flexsoles/img/nike_dunk_first_article.jpg" alt="imagen1">
            <h3>Nike Dunk Low Retro Premium</h3>
            <h2>119,99€</h2>
            <h2>10% descuento</h2>
        </article>
        <article id="p6">
            <img src="../doc_html_flexsoles/img/nike_dunk_first_article.jpg" alt="imagen1">
            <h3>Nike Dunk Low Retro Premium</h3>
            <h2>119,99€</h2>
            <h2>10% descuento</h2>
        </article>
        <article id="p7">
            <img src="../doc_html_flexsoles/img/nike_dunk_first_article.jpg" alt="imagen1">
            <h3>Nike Dunk Low Retro Premium</h3>
            <h2>119,99€</h2>
            <h2>10% descuento</h2>
        </article>
        <article id="p8">
            <img src="../doc_html_flexsoles/img/nike_dunk_first_article.jpg" alt="imagen1">
            <h3>Nike Dunk Low Retro Premium</h3>
            <h2>119,99€</h2>
            <h2>10% descuento</h2>
        </article>
    </section>
    
</body>
</html>