<html xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div style="display: flex" class="navbar-brand" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/index}">Home</a>
					<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/producto/crear}">Insertar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/usuario/signup}">SIGNUP</a>
				</li>
				<li class="nav-item" th:if="${session.usuario == null}">
          			<a class="nav-link" th:href="@{/usuario/login}">LOGIN</a>
        		</li>
        		<div th:if="${session.usuario != null}"  >
        
	        		<li class="nav-item" >
	          			<a class="nav-link" th:href="@{/usuario/logout}" >LOG OUT</a>
	         		</li>
	         		</div>
         <!-- th:text="${session.usuario.nombre}"
        		
                
                <li class="nav-item" th:if="@{httpSession.usuario.nombre == 'david'}">
         			 <a class="nav-link" >LOGIN</a>
        		</li> -->
      </ul>
      
      
    </div>
     <form class="d-flex" th:object="${titulo}" th:action="@{/producto/buscar}" method="GET">
        <input type="text" class="class="form-control me-sm-2" "id="{titulo}" th:value="${titulo}" name="busqueda">
    	<input type="submit" class="btn btn-secondary my-2 my-sm-0" value="Buscar">
     </form>
  </div>
</nav>
    